/* MIND Colors:
								#87CFCC
								#CB8C2F
								#EBAB4D
								#FFBD58
								#FFD058

	Logo Colors:
								#51C3C5
								#055869
								#0B2041
*/

/* Gilroy Font Family */
@font-face {
   font-family: Gilroy;
   src: url(fonts/Gilroy-Light.otf)
 }

/* General CSS for document */
html, body {
	--bgColor: #0B2041;
  --primaryColor: #51C3C5;
  --secondaryColor: #055869;
	--navHeight: 80px;
	--navItemWidth: 160px;
	display: flex;
	flex-direction: column;
  margin: 0px;
	padding: 0px;
	min-height: 100vh;
	font-family: "Gilroy";
	color: var(--primaryColor);
	background-color: var(--bgColor);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Fixed footer */
.content {
	height: 1000px;
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

/* Links */
a {
	text-decoration: none;
	color: var(--secondaryColor);
	outline: none;
	transition: color 0.2s;
}

a:hover,
a:focus {
	color: var(--primaryColor);
}
