footer {
  width: 100%;
  background-color: white;
  color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
}

/* Logo, statement, OCF badge */
.left {
  width: 30%;
  padding-top: 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Pages and social media */
.right {
  width: 70%;
  padding: 0px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right .pages {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.right .socialMedia {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-size: 48px;
}

hr {
  width: 100%;
}

/* Mobile View */
@media (max-width: 800px) {
  .footerWrapper {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
    padding-left: 0px;
  }
  .right {
    width: 100%;
    padding: 0px;
  }

  .statement {
    width: 75%;
    padding: 25px;
  }

  .pages {
    padding-bottom: 30px;
  }

  hr {
    width: 90%;
  }

  .copyright {
    padding-top: 50px;
  }
}
