/* Demo content */
.temp {
  font-size: 10vh;
  position: absolute;
  width: 100%;

  text-align: center;
  top: 40%;
}

#mobile {
  display: none;
}

#desktop {
  display: block;
}

/* Mobile View */
@media (max-width: 800px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
}
