header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-display: row;
}

.logoWrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.sitePages {
  position: absolute;
  right: 0px;
  display: flex;
  flex-display: row;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.sitePages a {
  padding: 31px 40px 26px 40px;
}

.sitePages a:hover {
  background-color: var(--secondaryColor);
  color: white;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.sitePages a:last-child {
  padding: 30px 40px 27px 40px;
  background-color: var(--primaryColor);
  color: black;
}

.sitePages a:last-child:hover {
  background-color: var(--secondaryColor);
  color: white;
}

li {
  list-style: none;
}
