/* MIND Colors:
								#87CFCC
								#CB8C2F
								#EBAB4D
								#FFBD58
								#FFD058

	Logo Colors:
								#51C3C5
								#055869
								#0B2041
*/

@font-face {
   font-family: Gilroy;
   src: url(fonts/Gilroy-Light.otf)
 }


html, body {
	--bgColor: #0B2041;
  --primaryColor: #51C3C5;
  --secondaryColor: #055869;
	font-family: "Gilroy";
	min-height: 100vh;
	color: var(--primaryColor);
	background-color: var(--bgColor);
  margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
}

.content {
	height: 1000px;
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

a {
	text-decoration: none;
	color: var(--primaryColor);
	outline: none;
	transition: color 0.2s;
}

a:hover,
a:focus {
	color: var(--secondaryColor);
}

.temp {
  font-size: 10vh;
  position: absolute;
  width: 100%;

  text-align: center;
  top: 40%;
}

#mobile {
  display: none;
}

#desktop {
  display: block;
}

@media (max-width: 800px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
}
